# This file is managed by Puppet
# Policy for CI to submit jobs
namespace "default" {
  policy = "read"
  capabilities = ["submit-job","list-jobs","read-job"]
}