# This file is managed by Puppet
# Policy for Operators to manage system
namespace "default" {
  policy = "read"
  capabilities = ["submit-job","list-jobs","read-job","dispatch-job","read-logs","scale-job","alloc-lifecycle"]
  node {
    policy = "write"
  }
  agent {
    policy = "read"
  }
  client {
    policy = "read"
  }
  operator {
    policy = "read"
  }
}
